streamlit>=1.40.0

pypdf>=4.2.0
Pillow>=10.0.0

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-openai

faiss-cpu
sentence-transformers

transformers
torch
accelerate

tiktoken

python-dotenv
openai